body {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: lightgray;
  margin-left: 20px;
  background-color: #333;
  width: 90%
}
.navbar li{
  list-style: none;
  display: inline;
  padding: 10px;
}
#hdr {
  outline: 4px outset darkred;
  font-size: 3rem;
} 
a {
  color: orange;
}
a:hover{
  color: yellow;
}
a:active {
  color: red;
}
p {
  font-family: 'Titillium Web', sans-serif;
}
r {
  color: red;
  font-weight: bold;
}
y {
  color: yellow;
  font-weight: bold;
}
o {
  color: orange;
  font-weight: bold;
}
g {
  color: green;
  font-weight: bold;
}
c {
  color: cyan;
  font-weight: bold;
}
b {
  color: blue;
  font-weight: bold;
}
pr {
  color: purple;
  font-weight: bold;
}
w {
  color: white;
  font-weight: bold;
}
bk {
  color: black;
  font-weight: bold;
}
lo {
  color: coral;
}