* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #173F5F;
  width: 100%
}
header {
  margin-top: 40px;
  font-size: 2rem;
}
header h1 {
  text-align: center;
  font-family: 'Major Mono Display', monospace;
}
nav {
  margin-top: 40px;
  text-align: center;
}
nav li {
  text-decoration: none;
  display: inline;
  font-family: 'Overpass Mono', monospace;  
  padding: 30px;
}
.image {
  background-image: url("https://i.pinimg.com/originals/dd/62/b5/dd62b5590fb5d1545be4a0cdb5b0f346.jpg");
  width: 570px;
  height: 382px;
  display: block;
  margin: 0 auto;
}
.text {
  margin-top: 25px;
  display: block;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  color: #F0FFFF;
  font-family: 'B612 Mono', monospace;
  font-size: 13px;
}
.text h2 {
  color: SteelBlue;
  font-size: 25px;
  font-family: 'Major Mono Display', monospace;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer {
  color: #00BFFF;
  font-family: 'Overpass Mono', monospace;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: #00FFFF;
}
a:hover {
  color: #F6D55C;
}
o {
  color: #ED553B;
  font-family: 'Major Mono Display', monospace;
}
y {
  color: #F6D55C;
  font-family: 'Major Mono Display', monospace;
}