* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #173F5F;
  width: 1000px;
  margin: 0 auto;
}
header {
  width: 1000px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border: 2px outset #555;
  background: #2F2F34;
  
}
header div {
  margin-top: 2px;
  
}
header h2 {
  display: inline;

  font-size: 26px;
  font-family: 'Major Mono Display', monospace;
}
nav {
  
  margin-top: 7px;
  
}
nav a {
  text-decoration: none;
  font-family: 'Overpass Mono', monospace;  
  padding: 5px 15px;
  margin-left: 2px;
  background: #F6D55C;
  color: #ED553B;
  border: 3px outset #ED553B;
}

nav a:hover {
  color: #FFE97F;
  background: #ED553B;
  border: 3px outset #FFE97F;
}
footer {
  color: #00BFFF;
  font-family: 'Overpass Mono', monospace;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
.header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: 'Major Mono Display', monospace;
}
.header p {
  font-family: 'B612 Mono', monospace;
}
.header h1 {
  margin-bottom: 20px;
  font-size: 45px;
}
img {
  border: 2px solid black;
}
.text img {
  maring: 0 auto;
}
.text {
  margin: 0 auto;
  text-align: left;
  color: #F0FFFF;
  font-family: 'B612 Mono', monospace;
  font-size: 16px;
  width: 1000px;
}
.text p {
  margin: 20px 0;
}
.text h1, h2, h4 {
  color: #ED553B;
  font-family: 'Major Mono Display', monospace;
  margin: 40px 0 20px 0;
  text-align: center;
}
.text h3 {
  color: #F0FFFF;
  font-family: 'B612 Mono', monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
}

#plnhdr {
  color: black;
  font-family: 'B612 Mono', monospace;

}
.notes {
    font-family: 'B612 Mono', monospace;
    font-size: 16px;
    border: 2px solid black;
    background-color: #2F2F34;
    padding-left: 15px;
    margin: auto;
    margin-bottom: 10px;
}

#modeColors {
  border: 2px solid black;
  background-color: #2F2F34;
  width: 380px;
  
  margin: 20px auto 20px auto;
  font-family: 'B612 Mono', monospace;
}
#figure1 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 1000px;
  font-weight: bold;
  font-size: 19px;
  font-family: 'Overpass Mono', monospace;
}
#figure2 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 880px;
  font-weight: bold;
  font-size: 19px;
  font-family: 'Overpass Mono', monospace;
}
#figure3 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 480px;
  font-weight: bold;
  font-size: 19px;
  font-family: 'Overpass Mono', monospace;
}
#figure4 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 350px;
  font-weight: bold;
  font-size: 19px;
  font-family: 'Overpass Mono', monospace;
}
#figure5 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 750px;
  font-weight: bold;
  font-size: 19px;
  font-family: 'Overpass Mono', monospace;
}
#figure6 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 360px;
  font-weight: bold;
  font-size: 19px;
  font-family: 'Overpass Mono', monospace;
}
#figure7 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 530px;
  font-weight: bold;
  font-size: 19px;
  font-family: 'Overpass Mono', monospace;
}  
#interval {
  border: 2px solid black;
  background-color: #2F2F34;
  width: 950px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: black;
  font-size: 20px;
  font-family: 'B612 Mono', monospace;

}

r {
  color: #FF7F7F;
  font-weight: normal;
}
y {
  color: #FFB27F;
  font-weight: normal;
}
o {
  color: #FFE97F;
  font-weight: normal;
}
g {
  color: #A5FF7F;
  font-weight: normal;
}
c {
  color: #7FC9FF;
  font-weight: normal;
}
b {
  color: #7F92FF;
  font-weight: normal;
}
pr {
  color: #D67FFF;
  font-weight: normal;
}
w {
  color: #F0FFFF;
  font-weight: bold;
}
bk {
  color: black;
  font-weight: bold;
}
ong {
  color: #ED553B;
  font-family: 'Major Mono Display', monospace;
}
ylw {
  color: #F6D55C;
  font-family: 'Major Mono Display', monospace;
}